# Ignore Packer-related files
# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# Ignore Terraform-related files
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
